@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

@import "reset";
// @import "grid";

@media (min-width: 600px) {

}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body {
  background-image: url(https://wallpaperaccess.com/full/1244843.jpg);
  background-color: #282C34 !important;
  color: white !important;

  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vh;

}

// .bg-cover {
//     background-attachment: static;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// /* Background image */
// .jumbotron {
//   text-align: center;
//   padding-top: 10rem;
//   padding-bottom: 10rem;
//   text-shadow: 2px 2px #000;
// }

.url{
  background-position: center;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #3ADF9B;

#a{
  background-color: yellow;
}

}

.Create {

 position: right;

 background-color: yellow !important;
}

 #text {
   justify-content: center;
   color:black;
 }



 .container {
   align-items: right;
   border-radius: 5px;
   padding: 0px;
    border-radius: 8px;
    width: 50%;
    height: 50%;
    margin: 0 10px 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Sourse Sans Pro', sans-serif;

}
    input {// in form font
      color: black;
      text-align: center;
      align-items: center;
      width: 100%;
      height: 100%;

     // styles for input here
    }




    form {
      width: 50%;
      color: red;
      height: 50%;
      align-items: right;
      justify-content: space-around;
      // background-color: ;

    }

    input {// in form font
      color: black;
      text-align: center;
      align-items: right;
      height: 50%;
      width: 50%;
     // styles for input here
    }


h1, h2, h3{
  flex-direction: column;
  justify-content: space-between;
}
    h1{
      color: blue;
      text-align: right;
      hight: 100%;
      width: 100%;
      font-weight: bold;
      font-size: 80px;

    }
    h2{
      color: white;
      hight: 100%;
      width: 100%;
      text-align: right;
      font-weight: bold;
      font-size: 100px;
    }
    h3{
      color: white;
      text-align: right;
      hight: 100%;
      width: 100%;
      font-size: 10px;
    }





.ShowPage{
  width: 50%;
  height: 50%;
  margin: auto;

h3{
  text-align: center;
  color: red;
  font-size: 60px;
}
p{
  text-align: center;
  font-size: 50px;
}
h2{
  text-align: center;
}
button{
  text-align: center;
}
}

.workouts {
  width: 50%;
  height: 50%;
  margin: auto;
  // position: center;
  justify-content: center;
  align-items: center;
  align-content: center;
h2{
  text-align: center;
  color: red;
  font-weight: bold;
  font-stretch: extra-condensed;
  font-family: fantasy;
}
  h3{
    text-align: center;
    font-stretch: extra-condensed;
  }
  h4{
    text-align: center;
    font-stretch: extra-condensed;
    color: red;
  }
}


.About {
  width: 100%;
  height: 100%;
position: center;

}

.ContactPage{

  img{
    width: 50%;
    height: 50%;
  }

}

#app{
  width: 100%;
  height: 100%;
}

// .note{
//
//
//   .note-header{
//     padding: 10px 16px 0;
//
//
//     .note-add, .note-close{
//       display: inline-block;
//       width: 24px;
//       height: 24px;
//       text-align: center;
//       transition: all 0.3s;
